<nb-auth-block>
  <h2 class="title">Sign in as supervisor</h2>
  <small class="form-text sub-title">Please provide your username and password:</small>
  <form (ngSubmit)="login()" #form="ngForm" autocomplete="off">
    <div *ngIf="showMessages.error && errors && errors.length > 0 && !submitted"
         class="alert alert-danger" role="alert">
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>
    <div *ngIf="showMessages.success && messages && messages.length > 0 && !submitted"
         class="alert alert-success" role="alert">
      <div><strong>Success!</strong></div>
      <div *ngFor="let message of messages">{{ message }}</div>
    </div>
    <div class="form-group">
      <label for="input-machine-name" class="sr-only">Supervisor username</label>
      <input name="machineName" [(ngModel)]="user.machineName" id="input-machine-name" pattern=".{3,}"
             class="form-control" placeholder="Username" #username="ngModel"
             [class.form-control-danger]="username.invalid && username.touched" autofocus
             required>
      <small class="form-text error" *ngIf="username.invalid && username.touched && username.errors?.required">
        Username is required!
      </small>
      <small class="form-text error"
             *ngIf="username.invalid && username.touched && username.errors?.pattern">
        The username should have at least 3 characters.
      </small>
    </div>
    <div class="form-group">
      <label for="input-password" class="sr-only">Password</label>
      <input name="password" [(ngModel)]="user.password" type="password" id="input-password"
             class="form-control" placeholder="Password" #password="ngModel"
             [class.form-control-danger]="password.invalid && password.touched"
             required
             [minlength]="getConfigValue('forms.validation.password.minLength')">
      <small class="form-text error" *ngIf="password.invalid && password.touched && password.errors?.required">
        Password is required!
      </small>
      <small
        class="form-text error"
        *ngIf="password.invalid && password.touched && password.errors?.minlength">
        Password should contain a minimum of {{ getConfigValue('forms.validation.password.minLength') }}
        characters
      </small>
    </div>
    <button [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success"
            [class.btn-pulse]="submitted">
      Sign In
    </button>
  </form>
  <div class="links">
    <ng-container *ngIf="socialLinks && socialLinks.length > 0">
      <small class="form-text">Or connect with:</small>
      <div class="socials">
        <ng-container *ngFor="let socialLink of socialLinks">
          <a *ngIf="socialLink.link"
             [routerLink]="socialLink.link"
             [attr.target]="socialLink.target"
             [attr.class]="socialLink.icon"
             [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
          <a *ngIf="socialLink.url"
             [attr.href]="socialLink.url"
             [attr.target]="socialLink.target"
             [attr.class]="socialLink.icon"
             [class.with-icon]="socialLink.icon">{{ socialLink.title }}</a>
        </ng-container>
      </div>
    </ng-container>
  </div>
</nb-auth-block>
