@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .mat-table {
    display: table;
    overflow: scroll;
    padding-right: 1.25rem;
    margin: 0 auto;

    .mat-row,
    .mat-header-row {
      min-width: 850px;
      width: max-content;
    }
  }
}
