<nb-card size="xlarge">
  <nb-card-header>
    <span>Machines Monitoring</span>
  </nb-card-header>

  <nb-card-body>
    <toaster-container [toasterconfig]="toasterConfiguration"></toaster-container>
    <mat-table [dataSource]="machineDataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Machine Name</mat-header-cell>
        <mat-cell *matCellDef="let machine"> {{machine.name}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="isActive">
        <mat-header-cell *matHeaderCellDef>Monitoring</mat-header-cell>
        <mat-cell *matCellDef="let machine"> {{machine.isActive}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="isLocked">
        <mat-header-cell *matHeaderCellDef>Locked</mat-header-cell>
        <mat-cell *matCellDef="let machine"> {{machine.isLocked}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="jobCluster">
        <mat-header-cell *matHeaderCellDef>Cluster</mat-header-cell>
        <mat-cell *matCellDef="let machine"> {{machine.jobCluster}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let machine">
          <nb-actions size="small" fullWidth>
            <nb-action icon="fa fa-lock" [disabled]="machine.isLocked"
                       (click)="!machine.isLocked && lockMachine(machine.name)"></nb-action>
            <nb-action icon="fa fa-unlock" [disabled]="!machine.isLocked"
                       (click)="machine.isLocked && unlockMachine(machine.name)"></nb-action>
            <nb-action icon="fa fa-trash" (click)="terminateMachine(machine.name)"></nb-action>
          </nb-actions>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </nb-card-body>
</nb-card>
