<div class="date-time-wrapper">
  <input [(ngModel)]="currentDate"
         (dateTimeChange)="onDateTimeChange()"
         [owlDateTime]="dateTimePicker"
         placeholder="Select date">
  <span [owlDateTimeTrigger]="dateTimePicker"><i class="fa fa-calendar"></i></span>
  <owl-date-time [startAt]="currentDate" #dateTimePicker></owl-date-time>
</div>
