<nb-card size="xlarge">
  <nb-card-header>
    Jobs
  </nb-card-header>

  <nb-card-body>
    <toaster-container [toasterconfig]="toasterConfiguration"></toaster-container>
    <div class="table-wrapper">
      <ng2-smart-table [settings]="settings" [source]="jobsDataSource"
                       (deleteConfirm)="onDeleteConfirm($event)"
                       (editConfirm)="onEditConfirm($event)"
                       (createConfirm)="onCreateConfirm($event)"
      ></ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>


