@import 'themes';
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();

  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }

  // Fix for header overlapping with the datetime picker
  [_nghost-c2] nb-layout-header.fixed {
    z-index: 999;
  }

  input-editor > input.form-control[disabled] {
    color: transparent;
    background: #f1f1f1;
  }
}
