<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">
      <img src="../../../../assets/images/cheatbuster-logo.png" alt="CheatBuster">
    </div>
  </div>
</div>

<nb-actions
  size="medium"
  class="header-container"
  [class.right]="position === 'normal'"
  [class.left]="position === 'inverse'">
  <nb-action *nbIsGranted="['view', 'user']">
    <nb-user [nbContextMenu]="userMenu" [name]="user?.unique_name"></nb-user>
  </nb-action>
</nb-actions>
