<button type="button" class="btn btn-primary btn-group-icon btn-group-divider"
        (click)="showRulesEditor()"
        style="display: block; margin: 0 auto;">
  <i class="nb-edit"></i>
</button>
