<div class="modal-header">
  <span>Rules</span>
  <button class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <ng2-smart-table [settings]="settings" [source]="rulesDataSource"
                   (deleteConfirm)="onDeleteConfirm($event)"
                   (editConfirm)="onEditConfirm($event)"
                   (createConfirm)="onCreateConfirm($event)"></ng2-smart-table>
</div>

<div class="modal-footer">
  <button class="btn btn-md btn-primary" (click)="saveRules()">Save changes</button>
</div>
