<nb-card>
  <nb-card-header>
    Screenshots
  </nb-card-header>

  <nb-card-body>
    <toaster-container [toasterconfig]="toasterConfiguration"></toaster-container>
    <div class="form-group">
      <label>Machine name:</label>
      <select #machineNameSpy class="form-control" (change)="fetchScreenshots(machineNameSpy.value)"
              title="Machine name">
        <option disabled selected value> -- select a machine --</option>
        <option *ngFor="let machineName of machineNames" value="{{machineName}}">{{machineName}}</option>
      </select>
    </div>
    <ngx-image-gallery [images]="screenshots" [conf]="galleryConfiguration"></ngx-image-gallery>
  </nb-card-body>
</nb-card>


