<div class="row">
  <div class="col-xxl-10 col-md-12">
    <ngx-machines-view></ngx-machines-view>
  </div>
</div>
<div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
  </div>
</div>
